<app-header title="Inicio"></app-header>

<ion-content class="ion-padding">
    <app-logo></app-logo>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido a la Prueba Técnica de Keiner Albernia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ingeniero De Sistemas - Desarrollador De Software.</p>
      </ion-card-content>
    </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="primary" routerLink="/categories">Categorías</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="secondary" routerLink="/products">Productos</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
